/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */

.top-container {
    background-color: #8d8c8d;
    position: relative;
    padding-top: 100px;
    height: 85.5vh;
}
.chip {
    width: 300px;
    position:absolute;
    top: 86%;
    left:43%;
    margin-top:-50px;
    margin-left:-50px;

}
body {
    background-color: #f4f2f4;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #f4f2f4;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #a665eb;
    font-weight: normal;
}
.a-ml {
    color: #f4f2f4;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #877c73;
    font-size: 1.5rem;
}
p {
    line-height: 2;
    font-size: 1rem;
    color: #8d8c8d;
}
.profile-pic{
    margin-top: 250px;
    width: 180px;
}
hr {
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-width: 10px;
    margin: 100px auto;
    color: #877c73;
}
a {
    color: #7F669D;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}
a:hover {
    color: #dbd7db;
}
.bottom-container {
    background-color: #8d8c8d;
    margin-top: 30px;
    padding: 50px 0 20px;
}
.skill-row {
    display: block;
    width: 50%;
    margin: 50px auto;
    text-align: left;
    padding: 10px;
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;

}
.map-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.bot-cloud {
    position: absolute;
    top: 400px;
    left: 300px;
    width: 120px;
}
.top-cloud {
    position: absolute;
    right: 200px;
    top: 60px;
    width: 100px;
}
.contact-me {
    margin-bottom: 70px;
}
.footer-link{
    padding: 20px;
    color: #f4f2f4;
}
.copyright {
    color: #f4f2f4;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #f4f2f4;
  font-size: 20px;
  background: #877c73;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #57504b;
  text-decoration: none;
}
.share {
    margin-bottom: 50px;
}